* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common /-------------------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100vh; */
    /* background-color: aqua; */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #b8b8b8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #888;
}

/*-------------------------------/ HEADER /-------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 75px;
    padding: 0 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
}
.title, .nav, .navRandom {
    width: calc(100% / 3);
    /* border: 1px solid red; */
}
/* ------- logo ------- */
.title {
    /* background-color: rgb(202, 202, 202); */
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}
.title:hover {
    opacity: 0.75;
    transition: 0.2s;
}
.title h2 {
    background-color: rgba(128, 255, 0, 0);
    line-height: 100px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(36, 36, 36);
}
.title a {
    text-decoration: none;
    color: black;
}
/* ------- btn generate random ------- */
.navRandom {
    text-align: center;
}
#selectCols {
    /* border: 1px solid red; */
    height: 30px;
}
.btnGenerate {
    border: 0;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.btnGenerate:hover {
    transition: 0.2s;
    opacity: 0.75;
}
/* ------- select columns ------- */
.boxBtnSelectCols {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}
.btnView {
    /* background-color: yellow; */
    border: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
}
.btnView:hover {
    opacity: 0.75;
    transition: 0.2s;
}
.btnSquare {
    height: 27px;
    background-color: #bfbfbf;
}
.btnView img {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}


/*-------------------------------/ MAIN /-------------------------------*/
main {
    background-color: white;
    color: white;
    position: relative;
}
/*---------------/ Home Imgs /----------------*/
.cntCardsHome {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 80px;
    overflow-y: auto;
    max-height: calc(100vh - 75px);
}

.cards_12 {
    width: calc(100% / 12 - ((20px * 11) / 12));
    min-height: 100px;
}
.cards_9 {
    width: calc(100% / 9 - ((20px * 8) / 9));
}
.cards_6 {
    width: calc(100% / 6 - ((20px * 5) / 6));
    min-height: 200px;
}
.cards_3 {
    width: calc(100% / 3 - ((20px * 2) / 3));
    min-height: 300px;
}

.card {
    cursor: pointer;
}
.card img {
    /* border: 1px solid black; */
    width: 100%;
}
.card:hover {
    transition: 0.2s;
    opacity: 0.7;
}

/*---------------/ Img visualizzata /----------------*/
#cardContainer {
    /* background-color: lightcoral; */
    min-height: calc(75vh - 75px);
}
.containerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxButtons {
    text-align: center;
    width: 100%;
    padding: 0px 80px;
    height: 80px;
    line-height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px solid black; */
}
.boxButtons div {
    width: 33%;
}
#cardBox {
    /* border: 1px solid red; */
    height: calc(100vh - 155px);
    padding: 50px 80px;
    gap: 50px;
}
#cardBox .cardItem {
    width: 40%;
    /* background-color: yellow; */
}
.cardItem img {
    width: 100%;
    /* border: 1px solid blue; */
}
.cardInfo {
    text-align: left;
    width: 60%;
    height: 100%;
    border-left: 2px solid black;
    /* border: 2px solid black; */
    padding: 0 30px;
    overflow-y: auto;
    color: black;
}
.boxMsg {
    border-bottom: 1px solid black;
    padding: 20px 0;
}
.cardInfo h3 {
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.cardInfo .date {
    margin-bottom: 15px;
}
.cardInfo p {
    font-size: 16px;
}
.cardInfo .location {
    margin-top: 10px;
}


/* COMMON CALSSES /-------------------------------*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.hidden {
    display: none;
}

.loadingBg {
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    height: calc(100vh - 75px);

    opacity: 0;
    transition: 0.2s;
}
.cntBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.opacity {
    opacity: 1;
    transition: 0.2s;
}

.loader {
    border: 2px solid #8d8d8d;
    border-top: 2px solid #3498db00;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    -webkit-animation: spin 0.6s linear infinite; /* Safari */
    animation: spin 0.6s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*------- BTN -------/-------------------------------*/
.btn {
    background-color: transparent;
    border: 0;
    /* border: 1px solid red; */
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.btn:hover {
    opacity: 0.75;
    transition: 0.2s;
}
.btnUnderline {
    border-bottom: 2px solid black;
}

/* Search.html */
.searchBarCnt {
    height: 100px;
    /* background-color: red; */
    margin-bottom: 50px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.hashtagCnt {
    height: calc(100vh - 175px - 50px);
    overflow-y: auto;
    /* border: 1px solid blue; */
    color: black;
    font-size: 60px;
    font-weight: bold;
    padding: 0 80px;
}
.btnSearchPage {
    background-color: transparent;
    height: 30px;
    border: 0;
    border-bottom: 1px solid black;
}
.btnSearchPage img {
    height: 60%;
    padding-right: 200px;
}
.hashtagCnt ul {
    list-style: none;
}
.hashtagCnt ul li {
    margin-bottom: 20px;
}
.hashtagCnt ul li span {
    color: lightgrey;
}